@charset "UTF-8";

*{
    
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image:linear-gradient(to right, #5CA1B3, #D6F7FF);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #032d64a8;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color:#B36620;
    text-align: center;
    text-shadow: 1px 1px 3px #4121048f;
    
}
h2{
    color: #FFAF66;
}
p{
    text-align: justify;
}